@charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #f1e5d1, #d0a96e);
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#teladelogin{
    border: 5px solid #DEBB9D;
    box-shadow: 0px 0px 0px #3a3738b6, 0px 0px 2px 1px #5a2800;
    background-color: #FDEED7;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

div#formulario{
    margin: 0px;
    text-align: center;
    
}

p#p1{
    font-size: 0.8em;
}

form > p, h2{
    margin: 10px;
    color: #5a2800;
}

div#imagem{
    height: 175px;
    position: relative;
    top: 4.5%;
    background-image: url('../imagens/tibia-wallpaper.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

input#usuario{
    padding: 2px;
    border: 1px solid #3a3738;
}

input#senha{
    padding: 2px;
    margin-left: 9px;
    border: 1px solid #3a3738;
}

.botao{
    background-color: #1619d4;
    color: #fec97a	;
    padding: 3px;
    margin-top: 10px;
    font-weight: bolder;
} 

input#entrar{
    margin-right: 5px;
    box-shadow: -1px 1px 1px black;
}

input#esquecisenha{
    margin-left: 5px;
    box-shadow: -1px 1px 1px black;
}

input#entrar:hover{
    background-color: #1954FF;
    box-shadow: inset -1px 1px 1px black;
    font-size: 13px;
}

input#esquecisenha:hover{
    background-color: #1954FF;
    box-shadow: inset -1px 1px 1px black;
    font-size: 13px;
}