@charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-image: url('../imagens/tibia-wallpaper.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#teladelogin{
    border: 5px solid #DEBB9D;
    box-shadow: 0px 0px 2px 2px #5a2800;
    background-color: #FDEED7;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    opacity: 90%;
}

div#formulario{
    display: block;
    text-align: center;
}

p#p1{
    font-size: 0.8em;
}

form > p, h2{
    padding: 10px;
    color: #5a2800;
}

div#imagem{
    position: relative;
    display: block;
    height: 175px;
    top: -4%;
    background-image: url('../imagens/jumento.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 130px;
}

input#usuario{
    padding: 2px;
    border: 2px solid #3a3738;
}

input#senha{
    padding: 2px;
    margin-left: 9px;
    border: 2px solid #3a3738;
}

.botao{
    background-color: #1619d4;
    color: #fec97a	;
    padding: 4px;
    margin-top: 10px;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: -1px 1px 1px black;
    border: none;
} 

input#entrar{
    margin-right: 5px;
}

input#esquecisenha{
    margin-left: 5px;
}

input#entrar:hover{
    background-color: #1954FF;
    box-shadow: inset -1px 1px 1px black;
    transform: translate(1px, 1px);
    cursor: pointer;
}

input#esquecisenha:hover{
    background-color: #1954FF;
    box-shadow: inset -1px 1px 1px black;
    transform: translate(1px, 1px);
    cursor: pointer;
}