@charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-image: url('../imagens/tibia-wallpaper.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    position: relative;
}

section{
    background-color: #F7E8D0;
    display: block;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 300px;
    height: 440px;
    transform: translate(-50%, -50%);
    border: 5px solid #DEBB9D; 
    box-shadow: 0px 0px 3px 2px #5a2800;
    text-align: left;
}

table{
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.527);
    display: block;
    font-size: 0.8em;
    border: 1px solid #3a3738b6;
    margin: 10px;
}

thead{
    background-color: #5F4D41;
    color: white;
}

th{
    padding: 6px;
    color: #5a2800;
}

th#titulo{
    text-align: center;
    color: white;
}

tr:nth-child(2n){
    background-color: #D4C0A1;
}

td{
    padding-left: 3px;
}

div{
    position: relative;
    display: block;
    height: 160px;
    top: -7.5%;
    background-image: url('../imagens/transferir.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px;
}

a{
    display: block;
    position: relative;
    background-color: #1619d4;
    color: #fec97a;
    width: fit-content;
    padding: 4px;
    font-size: 0.9em;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: -1px 1px 1px black;
    top: -12%;
    left: 40%;
}

a:hover{
    transform: translate(1px, 1px);
    cursor: pointer;
    box-shadow: inset -1px 1px 1px black;
}
